<div class="row card">
	<div class="container">
		<p><%= status.user_id%></p>
        <p class="container"><%= status.content %></p>
        <p class="pull-xs-right" style="margin-right: 5px; margin-bottom: 5px;">

        <%= link_to 'Edit', edit_status_path(status), class: 'btn btn-primary', style: 'padding: 2px 10px;'%>
        <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Do you want destroy?' }, class: 'btn btn-danger', style: 'padding: 2px 10px;'%>
        </p>
	</div>
</div>